@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Yazar Kayıt Sayfası</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @Html.BeginForm("Index", "Register", FormMethod.Post){
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Adınız Soyadınız: </label>
                        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" });
                        @Html.ValidationMessageFor(x=>x.WriterName)
                        @*<input type="text" class="form-control" name="WriterName" id="validationDefault01" placeholder="" required="">*@
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom02">EMail</label>
                        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" });
                        @Html.ValidationMessageFor(x => x.WriterMail)
                        @*<input type="email" class="form-control" name="WriterMail" id="validationDefault02" placeholder="" required="">*@
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1 mb-2">Şifre</label>
                        @Html.TextBoxFor(x => x.WriterPassword ,new { @class = "form-control" });
                        @Html.ValidationMessageFor(x => x.WriterPassword)
                        @*<input type="password" class="form-control" name="WriterPassword" id="password1" placeholder="" required="">*@
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword2 mb-2">Görsel Dosya Yolu</label>
                        @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" });
                        @Html.ValidationMessageFor(x => x.WriterImage)
                        @*<input type="text" class="form-control" name="WriterImage" id="password2" placeholder="" required="">*@
                    </div>

                </div>
                <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                <p>
                    <a href="#">By clicking Signup, I agree to your terms</a>
                </p>
                }
            </div>
        </div>
    </div>
    <br />
    <button class="btn btn-info" id="btn1">

        buton
    </button>
    <script>
        $('btn1').click(function () {
            swal("Hello World");
        });
    </script>
</section>
